<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><span class="tooplate-red">Ishwari </span
          ><span class="tooplate-green">Tiles And Paver</span></a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link click-scroll" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link click-scroll" href="#section_2">About</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle click-scroll"
                href="#section_3"
                id="navbarLightDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >

              <ul
                class="dropdown-menu dropdown-menu-light"
                aria-labelledby="navbarLightDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/shop-listing"
                    >Shop Listing</a
                  >
                </li>

                <li>
                  <a class="dropdown-item" href="/shop-detail"
                    >Shop Detail</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link click-scroll" href="#section_4">Reviews</a>
            </li>

            <li class="nav-item">
              <a class="nav-link click-scroll" href="#section_5">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>